/** CSS STYLE **/

html,
body {
  margin: 0;
  padding: 0;

  color: #2a2626;
  font-weight: 400;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;

  line-height: 1.6em;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
}

.neucha {
  font-family: "Neucha", cursive;
}

.bold {
  font-weight: 700;
}

.container {
  width: 1110px;
  margin: 0 auto;
  padding: 100px 0;
}

.relative {
  position: relative;
}

h1,
h2,
h3 {
  font-weight: 400;
  font-family: "Neucha", cursive;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.white {
  color: #fff;
}

.bg-white {
  background-color: #fff;
}

.st-white {
  color: #d7ccc0;
}

.bg-st-white {
  background-color: #d7ccc0;
}

.light {
  color: #f5f4f0;
}

.bg-light {
  background-color: #f5f4f0;
}

.main-light {
  color: #fe8a02;
}

.bg-main-light {
  background-color: #fe8a02;
}

.main-dark {
  color: #42413c;
}

.bg-main-dark {
  background-color: #42413c;
}

.dark {
  color: #2a2626;
}

.bg-dark {
  background-color: #2a2626;
}

.st-dark {
  color: #908d8b;
}

.bg-st-dark {
  background-color: #908d8b;
}

.brown {
  color: #b09a81;
}

.bg-brown {
  background-color: #b09a81;
}

.blue {
  color: #1085c5;
}

.bg-blue {
  background-color: #1085c5;
}

.main-background {
  position: relative;
}

.main-background::before {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-image: url("../img/background.png");
  background-repeat: no-repeat;
  background-size: cover;

  opacity: 0.1;

  content: "";
}

.uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.btn {
  text-decoration: none;
}

header .container {
  padding-bottom: 100px;
}

header .btn {
  width: 148px;
  height: 49px;

  padding: 13px 24px 14px;

  font-weight: bold;

  text-align: center;
}

.btn:hover {
  background-color: #ea7600;
}

.btn-submit {
  position: absolute;
  top: 9px;
  right: 0;

  width: 70px;
  height: 50px;

  border: none;
}

.btn-submit:hover {
  background-color: #ea7600;
}

.text-block {
  gap: 30px;

  column-count: 2;
  column-width: 540px;
}

.text-block p {
  margin-top: 0;
}

header h1 {
  margin: 0;
}

header h2 {
  margin: 0 0 201px;

  font-size: 72px;
}

.video-block p {
  margin-top: 30px;
  margin-bottom: 406px;
}

.navigation p {
  margin: 12px 0 0;
}

.main-block-title p {
  margin: 0;

  font-size: 24px;
}

.contact p {
  margin-bottom: 16px;
}

.main-block-title p:last-child {
  font-size: 34px;
  line-height: 40px;
}

.contact p:last-child {
  margin-bottom: 0;
}

.text-block p:nth-child(2) {
  break-before: column;
}

.main-block-title p:first-child {
  margin-top: 2px;
}

header .text-block p:last-of-type {
  margin-bottom: 52px;
}

header img {
  position: absolute;
  top: 55px;
  right: -268px;

  width: auto;
  height: 525px;

  overflow: hidden;
}

.shadow-filter {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.video-block h2 {
  margin: 0;

  line-height: 72px;
}

.video {
  position: absolute;
  top: 165px;
  left: 48px;

  border: none;
}

.five-cognitive-distortions {
  display: flex;
  flex-wrap: wrap;

  padding-top: 200px;

  column-gap: 30px;
  row-gap: 20px;
}

.navigation {
  display: block;
  box-sizing: border-box;

  width: 350px;
  height: 323px;

  padding: 24px;
}

.navigation h2 {
  margin: 0;

  font-size: 64px;
  line-height: 1;
}

.navigation h3 {
  margin: 40px 0 0;
}

.title-list {
  padding: 0;
}

.title-list h2 {
  margin: 0;

  font-weight: 400;
  font-size: 52px;
  line-height: 1.2;
}

.main-block {
  display: flex;
  flex-wrap: wrap;

  column-gap: 30px;
}

.main-block-light {
  flex-direction: row;
}

.main-block-dark {
  flex-direction: row-reverse;
}

.main-block-title {
  width: 502px;
}

.main-block-title h2 {
  margin: 2px 0 30px;
}

.main-block-h3 {
  margin-top: 100px;
  margin-bottom: 20px;
  padding: 5px 10px;

  font-size: 14px;
}

.form-subscribe {
  display: flex;
  padding: 55px;

  column-gap: 122px;
}

.form-title {
  align-self: center;

  width: 393px;
  height: 80px;
}

.form-title h3 {
  margin: 0;
  padding: 0;
}

form {
  width: 485px;
}

label {
  font-size: 18px;
}

label:last-child {
  font-size: 12px;
}

input[type="email"] {
  width: 385px;
  height: 16px;

  margin-top: 9px;
  padding: 15px;
}

.btn-submit::before {
  position: absolute;
  top: 12px;
  right: 23px;

  width: 24px;
  height: 24px;

  background-image: url("../img/send.svg");
  background-repeat: no-repeat;
  background-size: 24px 24px;

  content: "";
}

.contact {
  margin-top: 60px;

  text-align: center;
}

.navigation .btn:hover {
  background-color: #fe8a02;
}

.btn:hover .main-light,
.btn:hover .main-dark,
.btn:hover .dark {
  color: #fff;
}

#navigation .container {
  padding-bottom: 125px;
}
